<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label>Upload File</label><br>
        <input name="data" type="file"/><br>
        <select id="service" name="service" style="width: 24%;padding:5px;">
            <option value="kmeans"> KMeans</option>
          </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>